.bulbWrapper {
    display: grid;
    /* grid-template-columns: 1; */
    /* grid-template-rows: 1; */
    position: relative;
}

#bulb, #rope, #light {
    margin: auto;
    transform-origin: top;
    grid-row: 1;
    grid-column: 1;
}

#bulb {
    animation: bulb 4s infinite ease-in-out;
    margin-top: 34px;
}

#rope {
    animation: rope 4s infinite ease-in-out;
    margin-top: 0px;
}

#light {
    animation: light 4s infinite ease-in-out;
    /* animation: lightflicker 1.5s linear; */
}

@keyframes bulb {
    0% {
        transform: translateX(-11px) rotateZ(18deg);
    }
    50% {
        transform: translateX(14px) rotateZ(-18deg);
    }
    100% {
        transform: translateX(-11px) rotateZ(18deg);
    }
}

@keyframes rope {
    0% {
        transform: translateX(-5px) rotateZ(10deg);
    }
    50% {
        transform: translateX(7px) rotateZ(-10deg);
    }
    100% {
        transform: translateX(-5px) rotateZ(10deg);
    }
}

@keyframes light {
    0% {
        transform: translateX(-14px);
    }
    50% {
        transform: translateX(17px);
    }
    100% {
        transform: translateX(-14px);
    }
}

@keyframes lightflicker {
    0% {
        opacity: 0
    }
    10% {
        opacity: 1
    }
    20% {
        opacity: 0
    }
    30% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    70% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    90% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}